.mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-image: linear-gradient( to right ,rgb(39, 154, 138), rgb(46, 211, 131));
    box-shadow: calc(0 0 2px rgb(76, 227, 212) ,0 0 4px rgb(97, 239, 161));
}
.logo img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px 0px 5px 0px;
}

.nav-links{
    position: absolute;
    top: 25px;
    left: 10px; 
    color: aliceblue;
    background-image: white !important;
    padding: 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999; 
}
.nav-links li{
    list-style-type: none;
    margin: 5px;
    color: rgb(0, 0, 0);
}
.active{
    text-decoration: none;
    list-style-type: none;
}
a{
    color: rgb(0, 0, 0);
    border-bottom: none;
}
a:hover{
    color: rgb(0, 80, 80);
}
